In [1]:
import pandas as pd
import torch
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt
import tqdm
import cv2

In [2]:
train_df = pd.read_csv('./datasets/train.csv', index_col='id', usecols=[0])
test_df = pd.read_csv('./datasets/sample_submission.csv', index_col='id')
depth_df = pd.read_csv('./datasets/depths.csv', index_col='id')

In [3]:
train_depth_csv = depth_df[depth_df.index.isin(train_df.index)]
train_depth_csv

              z
id
4ac19fb269  306
1825fadf99  157
f59821d067  305
5b435fad9d  503
e340e7bfca  783
...         ...
be4db8ff8a  807
b097a1f9e0  700
4be85a3110  352
8063c65b57  520
a98ab1c549  610

[4000 rows x 1 columns]

In [10]:
test_depth_csv = depth_df[~depth_df.index.isin(train_df.index)]
test_depth_csv

              z
id
353e010b7b  264
5439dbbddf  557
71bab9f311  846
52551f7a80  610
512d8d9997  577
...         ...
09f1675cfb  400
6947dbc4f4  804
68de95fb39  605
fdad2f99d8  309
d7c57f676e  532

[18000 rows x 1 columns]

In [15]:
x = torch.tensor(test_depth_csv[test_depth_csv.index == '5439dbbddf']['z'].to_numpy())

In [17]:
print(x.shape)

torch.Size([1])